/* Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6; /* Tailwind gray-100 */
  color: #111827; /* Tailwind gray-900 */
  margin: 0;
  padding: 0;
}

